._*
*.aab
*.ap_
*.apk
bin/
/*/build/
build/
captures/
*.class
com_crashlytics_export_strings.xml
*.dex
.DS_Store
.DS_Store?
ehthumbs.db
.externalNativeBuild
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline/
freeline_project_description.json
freeline.py
gen/
google-services.json
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/.name
.idea/scopes/scope_settings.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
local.properties
*.log
.navigation/
out/
proguard/
.signing/
.Spotlight-V100
Thumbs.db
.Trashes
